.page {
  background: white;
  padding: 0 15px;
}
.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding: 24px;
}
.logo {
  font-size: 18px;
}
.divider {
  margin: 0;
  height: 1px;
  background: gray;
}
.nav {
  display: block;
}

.nav_link {
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  color: blue;
}
.nav_vertical > .nav_link {
  display: block;
  flex-wrap: wrap;
}
.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}
.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}
.nav_right {
  margin-left: auto;
  width: fit-content;
}
.page_block:not(:last-child) {
  margin-bottom: 80px;
}
.footer {
  display: block;
  padding: 24px 0;
}
.footer_copyright {
  font-size: 12px;
  color: gray;
  display: block;
  margin-top: 12px;
}
.footer_title {
  font-size: 20px;
  color: gray;
  display: block;
  margin-bottom: 12px;
}
.hero_title {
  font-size: 56px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 12px;
}
.hero_text {
  font-size: 20px;
  color: #ffffff;

  max-width: 585px;
}
.hero {
  background: #343a40;
  border-radius: 24px;
  padding: 80px;
}
.button {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  max-width: 248px;
  width: 100%;
  background: #007bff;
  border-radius: 4px;
  text-align: center;
}
.button:hover {
  background: rgb(68, 134, 134);
}
.preview {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}
.preview_header > span:not(:last-of-type) {
  margin-right: 12px;
}
.preview_date {
  font-size: 16px;
}
.preview > * :not(:last-of-child) {
  margin-bottom: 12px;
}
.preview_title {
  display: block;
  color: #343a40;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.6px;
}
.preview_description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
}
.preview_category_1 {
  color: blue;
}
.preview_category_2 {
  color: green;
}
.preview_category_3 {
  color: red;
}
.preview_category_4 {
  color: orange;
}
.list_title {
  color: #212529;

  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.6px;
  margin: 0;
}
.list_header {
  font-family: Roboto;
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
}
.category_button {
  color: #6c757d;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 10px 16px;
  border-radius: 40px;
  border: 1px solid #6c757d;
}
.category_button:hover {
  background: rgb(216, 214, 214);
}
.list_aside {
  margin-left: 40px;
}
.category_list {
  text-align: right;
}
.list > *:not(:last-child) {
  margin-bottom: 40px;
}
.post {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
}
.post > *:not(:last-child) {
  margin-bottom: 12px;
}
.post_title {
  display: block;
  font-size: 27px;

  font-weight: 500;

  color: #212529;
}
.post_info {
  color: #999;

  font-size: 16px;

  font-weight: 400;
}
.post_author {
  color: #007bff;
}
.post_description {
  color: #212529;
  font-size: 16px;

  font-weight: 400;
}
.list_aside > * :not(:last-child) {
  margin-bottom: 12px;
}
.about {
  background: #f8f9fa;
  padding: 24px;
}
.about_title {
  color: #212529;
  font-size: 20px;
  font-weight: 500;
}
.about_text {
  color: #212529;
  font-size: 14px;
  line-height: 170%;
  font-weight: 400;
}
.link_list {
  padding: 16px;
}
.link_title {
  color: #212529;

  font-size: 24px;

  font-weight: 500;
}
.link_list > *:not(:last-child) {
  margin-bottom: 12px;
}
.link_item {
  color: #007bff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;

  display: block;
}
.link_item:hover {
  text-decoration: underline;
}
