:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 24px;
  --space-xm: 16px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;
  --color-border: #dee2e6;
  --color-border-light: #d3dee9;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;
  --border-radius-s: 4px;
  --color-border-2: #e4eaf2;
  --weight-title: 600;
  --weight-text: 500;

  --page-width: 1000px;
}

.page {
  background: white;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  background-color: #202a3b;
}
.page_content {
  width: 1150px;
  display: flex;
  flex-direction: column;
}
/*  ============================ */
.header {
  display: flex;

  justify-content: space-between;
  border-bottom: 1px solid #253041;
  padding: 12px 0px;
}
.logo_cont {
  padding: 12 0;
}
.logo_dark {
  font-size: 12px;
  border-radius: 10px;
  background: #885ffb;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  display: flex;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  width: fit-content;
}
.logo_text {
  align-self: center;
}

.nav {
  display: flex;
}
.nav_inline {
  gap: var(--space-l);
}
.nav_vertical {
  flex-direction: column;
  gap: var(--space-xm);
}
.nav_link {
  color: #fff;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: #fff;
}

.nav_right {
  margin-left: auto;
  width: fit-content;
  padding: 12px 0px;
}

.footer {
  display: flex;
  padding: var(--size-l) 0;
  border-top: 1px solid var(--color-border);
  justify-content: space-between;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_item {
  margin: 0 16px;
}
.footer_item > a {
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.footer_item > a:hover {
  text-decoration: underline;
}
.footer_copyright {
  display: block;
  color: var(--main-additional-font, #9ca3af);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.footer_title {
  font-size: 20px;
  color: gray;
  display: block;
  margin-bottom: var(--space-l);
  font-weight: 500;
}
.main {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: flex-start;
}
.ad_row {
  display: flex;
  justify-content: space-between;
}
.ad_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ad_logo {
  color: #885ffb;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border-radius: 4px;
  background: rgba(136, 95, 251, 0.2);
  padding: 2px;
  width: fit-content;
  height: fit-content;
}
.ad_text > a {
  color: #fff;
  margin: 0 6px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}
.ad_text > a:hover {
  text-decoration: underline;
}
.usr_online {
  color: #fff;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.hero_row {
  display: flex;
  height: 300px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 24px;
  background: radial-gradient(
    632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0) 0%,
    rgba(78, 63, 146, 0.6) 100%
  );

  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.hero_title {
  color: #fff;

  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.hero_desr {
  color: var(--main-additional-font, #9ca3af);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero_btn {
  display: flex;
  width: 150px;
  padding: 12px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #885ffb;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
}
.hero_btn:hover {
  background-color: #9ca3af;
}
.about_row {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 24px;
  background: rgba(42, 49, 65, 0.44);

  backdrop-filter: blur(25px);
}
.about_header {
  color: #fff;

  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.about_info {
  color: var(--main-additional-font, #9ca3af);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.art_block {
  display: flex;
  margin: 60px 0px;
  flex-direction: column;
  justify-content: space-between;
}
.art_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.art_header_title {
  align-items: center;
  align-self: stretch;
  color: #fff;

  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.art_row {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
}
.art_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 33.3333%;

  margin: 16px;
}
.art_photo {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.art_photo > img {
  display: flex;
  width: 100%;
  border-radius: 20px;
}
.art_header > a {
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #6c757d;

  text-align: center;
  font-size: 16px;
  text-decoration: none;
  padding: var(--space-m) var(--space-m);
  background-color: #202a3b;
}
.art_header > a:hover {
  background-color: #9ca3af;
}
.is_new {
  display: flex;
  width: 60px;
  height: 25px;

  border-radius: 20px;

  justify-content: center;
  align-items: center;
  background-color: rgb(199, 34, 34);
  color: #fff;

  align-self: flex-end;
  position: relative;
  top: -30px;
}
.art_card_name {
  color: #fff;
  margin: 10px 0px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.art_card_description {
  color: var(--main-additional-font, #9ca3af);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  flex: 1 1 auto;
}
.art_card_btn {
  display: flex;
  background-color: #885ffb;
  color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: fit-content;
  height: fit-content;
}
.art_card_btn:hover {
  background-color: #9ca3af;
}
