{{#with data}}
  <div class='post'>
    <strong cass='post_title'>{{title}}</strong>
    <div class='post_info'>{{date}}
      <span class='post_author'>{{autor}}</span>
    </div>
    <p class='post_description'>{{description}}</p>
    <a href='#'>ContinueReading</a>
  </div>
{{/with}}